@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.home {
    position: relative;
    background-image: radial-gradient( farthest-corner at 40px 40px, #50c5ee 60%, rgba(0, 212, 255, 0.5) 100%);
    min-height: calc(100vh - 60px);
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    color: black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.home>h2 {
    display: flex;
    justify-content: space-around;
    color: rgb(0, 0, 0);
}

.home>div {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 350px) {
    .home-container {
        justify-content: unset;
    }
}

.paleta-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
    .paleta-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 840px) {
    .paleta-list {
        grid-template-columns: 1fr;
    }
}

.paleta-card-item,
.paleta-list-item {
    font-family: 'Exo';
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    width: 315px;
    display: flex;
    justify-content: space-around;
}

.paleta-card-item {
    height: 150px;
    width: 100%;
}

.paleta-card-item-foto {
    height: 150px;
    margin-right: -60px;
}

@media (max-width: 400px) {
    .paleta-card-item,
    .paleta-list-item {
        width: 210px;
        height: 180px;
    }
}

.paleta-card-item>div,
.paleta-list-item>div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.paleta-card-item-sabor,
.paleta-list-item-sabor {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 100%;
}

.paleta-card-item-descricao,
.paleta-list-item-descricao {
    font-size: 0.85em;
}

.paleta-card-item-preco,
.paleta-list-item-preco {
    color: darkviolet;
}

.paleta-list-item-foto {
    height: 150px;
    margin-right: -60px;
}

.paleta-escolhida-espaco {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#search-input {
    padding: 0.5rem;
    width: 315px;
    border: none;
    border-radius: 0.2rem;
    border: 2px solid #ffffff;
    outline: none;
    font-size: 1rem;
}

.search-button {
    background-color: transparent;
    border: 2px solid #9400d3;
    padding: 0.5rem;
    color: #9400d3;
    font-weight: 600;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    font-size: 1rem;
    text-align: center;
}

.search-button:hover {
    background-color: #9400d3;
    color: #ffffff;
    transform: scale(1.1);
}

.default-button {
    background-color: transparent;
    border: 2px solid #9400d3;
    padding: 0.4rem;
    color: #9400d3;
    font-weight: 600;
    border-radius: 0.2rem;
    width: 180px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    font-size: 1rem;
}

.default-button:hover {
    background-color: #9400d3;
    color: #ffffff;
    transform: scale(1.1);
}

#paleta-escolhida-input-espaco {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    max-width: 1110px;
    margin: 0 auto 25px auto;
    position: relative;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0 35px 0;
}

.logo {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 340px;
    height: 45px;
}

.logo-title {
    position: absolute;
    left: 55px;
    font-family: "Exo";
    font-weight: 700;
    font-size: 2.5em;
}

.logo-icon {
    position: absolute;
    left: -20px;
    top: -15px;
}

@media (max-width: 1220px) {
    .header {
        max-width: 720px;
    }
}

@media (max-width: 840px) {
    .header {
        max-width: 320px;
    }
}

@media (max-width: 400px) {
    .header {
        max-width: 250px;
    }
    .row {
        column-gap: 20px;
    }
    .logo-titulo {
        font-size: 1.5em;
    }
}

.modal-overlay {
    background-color: #00000050;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.modal {
    margin: 1rem;
    width: 100%;
    max-width: 600px;
    height: auto;
    min-height: 300px;
    background-color: #fffFFF;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: radial-gradient( farthest-corner at 40px 40px, #50c5ee 60%, rgba(0, 212, 255, 0.5) 100%);
    padding: 1rem;
}

.close-modal {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    transform: scale(0.7);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.close-modal:hover {
    transform: scale(1);
}

.modal-body {
    padding: .5rem 1rem;
}

.modal-body form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-body form input,
textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
    outline: none;
    border: solid 1px rgb(136, 134, 134);
    margin-bottom: 0.4rem;
    border-radius: 0.3rem;
}

.modal-body form button {
    padding: 0.5rem;
    width: 30%;
    font-size: 1rem;
    background-color: transparent;
    color: #0097ce;
    border: solid 2px #0097ce;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.modal-body form button:hover {
    background-color: #0097ce;
    color: #fff;
    transform: scale(1.1);
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 25px auto;
    max-width: 1110px;
}

.msg-alert {
    text-align: center;
    z-index: 999999;
    font-weight: 600;
}

.sucess {
    background-color: #a4ffa4;
    color: #006905;
    border: solid 1px #006905;
    padding: 0.8rem;
    border-radius: 0.3rem;
}

.danger {
    background-color: #ffa4a4;
    color: #690000;
    border: solid 1px #690000;
    padding: 0.8rem;
    border-radius: 0.3rem;
}

.actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem;
}

.btn {
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    max-width: 280px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    width: 48%;
    transition: all 0.5s ease-in-out;
}

.actions-edit {
    color: blue;
    background-color: transparent;
    border: solid 1px blue;
}

.actions-edit:hover {
    background-color: blue;
    color: #fff;
    transform: scale(1.1);
}

.actions-delete {
    border: solid 1px red;
    color: red;
    background-color: transparent;
}

.actions-delete:hover {
    color: #fff;
    background-color: red;
    transform: scale(1.1);
}

.actions-edit {
    color: #003cff;
    border: solid 1px #003cff;
    background-color: transparent;
}

.actions-edit:hover {
    color: #fff;
    background-color: #003cff;
    transform: scale(1.1);
}

.actions-delete {
    color: #ff0000;
    border: solid 1px #ff0000;
    background-color: transparent;
}

.actions-delete:hover {
    color: #fff;
    background-color: #ff0000;
    transform: scale(1.1);
}

.modal-body-delete {
    display: flex;
    flex-wrap: wrap;
}

.modal-body-delete p {
    width: 100%;
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.btns-delete {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn-delete {
    background-color: transparent;
    padding: .5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    width: 30%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn-delete-no {
    color: red;
    border: solid 1px red;
}

.btn-delete-no:hover {
    background-color: red;
    color: #fff;
}

.btn-delete-yes {
    color: green;
    border: solid 1px green;
}

.btn-delete-yes:hover {
    background-color: green;
    color: white;
}

.list-all {
    text-decoration: none;
    text-align: center;
    display: none;
    margin-right: 0.2rem;
}

.btns-list-cad {
    display: flex;
}